<% if @employee.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @employee do |f| %>
 <%= f.label :first_name %>
 <%= f.text_field :first_name %><br>

<%=  f.label :last_name %>
 <%= f.text_field :last_name %><br>

 <%= f.label :alias %>
 <%= f.text_field :alias %><br>

 <%= f.label :title %>
 <%= f.text_field :title %><br>

 <%= f.label :office %>
 <%= f.text_field :office %><br>

 <%= f.label :img_url %>
 <%= f.text_field :img_url %><br>

 <%= f.label :dog_id %>
 <%= f.collection_check_boxes :dog_id, Dog.all, :id, :name %>

 <%= f.submit %>

<% end %>